<section>
    <button class="container box" id="{{singleAdmin}}" data-adminid="{{adminid}}">
        <div class="row">
            <div class="col-md-3 order-3 nopadding">
                <img class="photo" src="{{imgsrc}}">
            </div>

            <div class="col-md-9 order-9 text-left text nopadding">
                <strong id="admin_name{{adnum}}" >{{name}}, </strong><sapn id="admin_role{{adnum4}}"> {{role}}</sapn><br>
                <span id="admin_phone{{adnum2}}">{{phone}}</span><br>
                <span id="admin_mail{{adnum3}}">{{email}}</span><br>
            </div>

        </div>
    </button>
</section>