<section>
    <div class="container gray">
        <div class="row">

            <div class="col-md-9 ">
                <h4>Course</h4>
            </div>

            <div class="col-md-3  ">
                <button class="editBut btn btn-primary" id="editCourse" data-editid="{{editid}}">edit</button>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 order-4 nopadding">
                <img class="medPhoto" src="{{imgsrc}}">
            </div>
            <div class="col-md-8 order-8 text-left text nopadding">
                <h4>Couse name:
                    <p id="course_name">{{name}} </p>
                </h4>
                <span> Details: <p id="course_details">{{details}}</p></span><br>
            </div>
        </div>
        <div class="container">
        </div>

        <h5>Student in This Course:</h5>

        <div id="studentlistforCourse" style="width:200px;"></div>



</section>