<section>
    <div class="container new_update_course">
        <button class=" btn btn-danger btn-xs" id="deleteCourse" data-curseid="{{C_id}}">Delete Course</button>
    </div>

    <!-- <div class="container"> -->
    <div class=" hoverable">
        <div class="form-signin">
            <h5 class="form-signin-heading">{{form_name}}</h5>
            <label for="inputname" class="">Course Name:</label>
            <input type="name" id="inputname" class="form-control" placeholder="Course Name" required autofocus>
            <span id="name_error" class="my_errors"></span>
            <br>

            <label for="inputdetails" class="">Description:</label>
            <textarea id="inputdetails" cols="30" rows="10" maxlength="300" class="form-control" placeholder="Course Description" required autofocus></textarea>
            <span id="description_error" class="my_errors"></span>
            <br>

            <div class="padding_top">
                <label for="st_photo"><h5 class="padding_top">Upload Couse Icon File:</h5></label><br/>
                <input name="userImage" type="file" id="st_photo" class="inputFile" />
                <span id="image_error" class="my_errors"></span>
                <br>


            </div>
            <h6 id="totalstudents"></h6>


        </div>

        <!-- </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <button class=" btn btn-primary btn-lg float-right" value="{{new?}}" id="saveCourse" data-curseid="{{C_id2}}">Save Course</button>
                </div>
            </div>
        </div>





</section>