<section>
    <div class="container">
        <button class=" btn btn-danger btn-xs" id="delete_student" data-deleteStudent="{{deleteid}}">Delete Student</button>
    </div>

    <!-- <div class="container"> -->
    <div class=" hoverable">
        <div class="form-signin">
            <h5 class="form-signin-heading">{{form_name}}</h5>
            <label for="inputname" class="">Student Name</label>
            <input type="name" id="inputname" class="form-control" placeholder="Student Name" required autofocus>
            <span id="name_error" class="my_errors"></span>
            <br>


            <label for="inputphone" class="">Phone</label>
            <input type="number" id="inputphone" min="10" max="10" class="form-control" placeholder="Student Phone" required autofocus>
            <span id="phone_error" class="my_errors"></span>
            <br>


            <label for="inputemail" class="">e-mail</label>
            <input type="email" id="inputemail" class="form-control" placeholder="Student e-mail" required autofocus>
            <span id="email_error" class="my_errors"></span>
            <br>


            <div class="padding_top">

                <label for="st_photo"><h5 class="padding_top">Upload Image File:</h5></label><br/>
                <!-- <input name="userImage" type="file" id="st_photo" class="inputFile" /> -->
                <input id="browse" type="file" multiple>
                <span id="image_error" class="my_errors"></span>
                <br>





                <div class="component">
                    <div class="overlay">
                        <div class="overlay-inner">
                        </div>
                    </div>
                    <img class="resize-image" id="blah" src="#" alt="image for resizing">
                    <button class="btn-crop js-crop">Crop<img class="icon-crop" src="img/crop.svg"></button>
                </div>


                <!-- <div class="component">
                    <div class="overlay">
                        <div class="overlay-inner">
                        </div>
                    </div>
                    <!-- <img id="blah" class="resize-image" src="#" alt="your image" />                     -->
                <!-- <img class="resize-image" id="blah" src="#" alt="image for resizing">
                    <button class="btn-crop js-crop">Crop<img class="icon-crop" src="img/crop.svg"></button>
                </div> -->

            </div>
            <div class="padding_top">

                <div id="course-checkbox">
                    <h5>Cuorse List:<br></h5>
                </div>
            </div>


        </div>

        <!-- </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <button class=" btn btn-primary btn-lg float-right" value="{{new?}}" id="saveStud" data-saveStudent="{{saveid}}">Save Student</button>
                </div>
            </div>
        </div>





</section>