<section>
    <div class="container">
        <button class=" btn btn-danger btn-xs" id="delete_admin" data-deleteAdmin="{{deleteid}}">Delete Admin</button>
    </div>

    <!-- <div class="container"> -->
    <div class=" hoverable">
        <div class="form-signin">
            <h5 class="form-signin-heading">{{form_name}}</h5>

            <label for="inputname" class="">Administrator Name</label>
            <input type="name" id="inputname" class="form-control" placeholder="Administrator Name" required autofocus>
            <span id="name_error" class="my_errors"></span>
            <br>

            <label for="inpurole" class="">Administrator role</label>
            <input type="name" id="inpurole" class="form-control" placeholder="Administrator role" required autofocus>
            <span id="role_error" class="my_errors"></span>
            <br>

            <label for="inputpassword" class="">Administrator Passwoed</label>
            <input type="password" id="inputpassword" pattern=".{6,10}" class="form-control" placeholder="Password" required autofocus>
            <span id="password_error" class="my_errors"></span>
            <br>

            <label for="inputphone" class="">Administrator Phone</label>
            <input type="number" id="inputphone" min="10" max="10" class="form-control" placeholder="Administrator Phone" required autofocus>
            <span id="phone_error" class="my_errors"></span>
            <br>



            <label for="inputemail" class="">Administrator e-mail</label>
            <input type="email" id="inputemail" class="form-control" placeholder="Administrator e-mail" required autofocus>
            <span id="email_error" class="my_errors"></span>
            <br>


            <div class="padding_top">

                <label for="st_photo"><h5 class="padding_top">Upload Image File:</h5></label><br/>
                <!-- <input name="userImage" type="file" id="st_photo" class="inputFile" /> -->
                <input id="browse" type="file" multiple>
                <span id="image_error" class="my_errors"></span>
                <br>

                <div class="component">
                    <div class="overlay">
                        <div class="overlay-inner">
                        </div>
                    </div>
                    <img class="resize-image" id="blah" src="#" alt="image for resizing">
                    <button class="btn-crop js-crop">Crop<img class="icon-crop" src="img/crop.svg"></button>
                </div>


            </div>


        </div>

        <!-- </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <button class=" btn btn-primary btn-lg float-right" value="{{new?}}" id="saveAdmin2" data-adid="{{A_id2}}">Save Admin</button>
                </div>
            </div>
        </div>





</section>